<script>
  function isMobile() {
    var result = false;
    var matches = [
      /(Windows Phone(?: OS)?)\s(\d+)\.(\d+(\.\d+)?)/,
      /(Silk)\/(\d+)\.(\d+(\.\d+)?)/,
      /(Android|Android.*(?:Opera|Firefox).*?\/)\s*(\d+)\.?(\d+(\.\d+)?)?/,
      /(iPhone|iPod).*OS\s+(\d+)[\._]([\d\._]+)/,
      /(iPad).*OS\s+(\d+)[\._]([\d_]+)/,
      /(MeeGo).+NokiaBrowser\/(\d+)\.([\d\._]+)/,
      /(webOS)\/(\d+)\.(\d+(\.\d+)?)/,
      /(BlackBerry|BB10).*?Version\/(\d+)\.(\d+(\.\d+)?)/,
      /(PlayBook).*?Tablet\s*OS\s*(\d+)\.(\d+(\.\d+)?)/,
      /(MSIE)\s+(\d+)\.(\d+(\.\d+)?)/,
      /(tizen).*?Version\/(\d+)\.(\d+(\.\d+)?)/i,
      /(sailfish).*rv:(\d+)\.(\d+(\.\d+)?).*firefox/i,
      /(Mobile).*rv:(\d+)\.(\d+(\.\d+)?).*Firefox/
    ];
    for (var i = 0; i < matches.length; i++) {
      result = matches[i].test(window.navigator.userAgent);
      if (result) {
        break;
      }
    }
    return result;
  }
</script>

<!-- Google Analytics - only for mobile -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-111455-1'],
    ['_setDomainName', '.telerik.com'],
    ['_addIgnoredRef', 'telerik.com'],
    ['_trackPageview']);
  (function () {
    if (!isMobile()) {
      return;
    }
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End Google Analytics -->


<!-- Google Tag Manager -->
{% if site.google_tag_manager %} {% assign gtm_id = site.google_tag_manager %} {% else %} {% assign gtm_id = 'GTM-6X92' %} {% endif %}
<script type="text/plain" class="optanon-category-1">(function(w,d,s,l,i){ if (isMobile()) { return; }w[l]=w[l]||[];w[l].push({'gtm.start':
 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
 j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
 })(window,document,'script','dataLayer', '{{ gtm_id }}');</script>
<!-- End Google Tag Manager -->
