<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if page.title_prefix %}{{ page.title_prefix }}{% if page.title_prefix_separator %}{{ page.title_prefix_separator }}{% else %} | {% endif %}{% endif %}{{ page.page_title | default: page.title }}{% if site.use_product_in_title != false %} | {{ site.product }} {% endif %}</title>
  <meta name="description" content="{{ page.description | parse_front_matter }}{% if page.description_suffix %} {{ page.description_suffix }}{% endif %}" />
  {% if page.res_type %}<meta name="restype" content="{{ page.res_type }}">{% else %}<meta name="restype" content="documentation">{% endif %}
  {% if site.progress_hosting != true %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "TechArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://docs.telerik.com{{site.baseurl}}{{page.url | replace: '.html',''}}"
      },
      "headline": "{% if page.title_prefix %}{{ page.title_prefix }}{% if page.title_prefix_separator %}{{ page.title_prefix_separator }}{% else %} | {% endif %}{% endif %}{{ page.page_title | default: page.title }}{% if site.use_product_in_title != false %} | {{ site.product }} {% endif %}",
      "author":{
      "@type":"Organization",
      "name":"Telerik"},
      "publisher": {
        "@type": "Organization",
        "name": "Telerik",
        "alternateName":"Телерик",
        "url":"https://www.telerik.com/",
        "sameAs":["https://www.facebook.com/Telerik",
        "https://twitter.com/Telerik",
        "https://plus.google.com/+Telerik",
        "https://www.linkedin.com/company/telerik",
        "https://github.com/telerik","https://www.youtube.com/user/TelerikInc"],
        "logo": {
          "@type": "ImageObject",
          "url": "https://telerik-media.s3.amazonaws.com/assets/progress-telerik-logo-black.png"
        }
      },
      "description": "{{ page.description | parse_front_matter }}{% if page.description_suffix %} {{ page.description_suffix }}{% endif %}",
      "about": "{{ site.product }}",
      "isPartOf": "{% if site.product_url %}{{ site.product_url }}{% else %}https://docs.telerik.com{{site.baseurl}}{% endif %}"
    }
  </script>
  {% endif %}
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>
  <link rel="preconnect" href="https://stats.g.doubleclick.net" />
  <link rel="preconnect" href="https://geolocation.onetrust.com" />
  <link rel="preconnect" href="https://cdn.cookielaw.org" />
  <link rel="preconnect" href="https://d6vtbcy3ong79.cloudfront.net" />
  <link rel="preconnect" href="https://www.google-analytics.com" />
  <link rel="preconnect" href="https://www.googletagmanager.com" />
  <link rel="dns-prefetch" href="https://www.google-analytics.com" />
  <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
  {% if page.sdk_example == true %} <link rel="stylesheet" href="https://kendo.cdn.telerik.com/{{ site.cdnVersion | default: '2018.3.1017' }}/styles/kendo.common.min.css" />{% endif %}
  {% if site.main_theme %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bundle-{{site.main_theme}}.css?{{randomNumber}}">{% else %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/bundle.css?{{randomNumber}}">{% endif %}
  {% if site.enable_dojo == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/dojo.css?{{randomNumber}}" media="print" onload="this.media='all'">{% endif %}
  <link rel="preload" href="{{site.baseurl}}/assets/WebComponentsIcons.woff" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/icon-font.css?{{randomNumber}}" media="print" onload="this.media='all'">
  {% if page.glyphs_reference_sheet == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/telerik-web-ui-font.css?{{randomNumber}}" media="print" onload="this.media='all'">{% endif %}
  {% if page.kind == "api" %} 
  {% if site.has_web_api == true or site.has_web_api_index == true %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/api.css?{{randomNumber}}" media="print" onload="this.media='all'">{% endif %}
  {% if page.has_api_toc == true %}{% endif %}
  {% endif %}
  {% if page.sdk_example == true %} <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/sdk-browser.css?{{randomNumber}}" media="print" onload="this.media='all'"> {% endif %}
  {% if site.platforms.size > 0 %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/platform_styles.css?{{randomNumber}}" media="print" onload="this.media='all'"> {% endif %}
</head>
