{% assign product = site.product %}
{% if page.product != blank %}
{% assign product = site.data.cta_panels_data.product_map[page.product] %}
{% endif %}
{% assign product_url = site.data.cta_panels_data[product].product_url %}
{% assign trial_url = site.data.cta_panels_data[product].trial_url %}

<section class="kd-cta-panel">
    <div class="container flex-center">
        <div class="kd-cta kd-cta-lg kd-cta-full-width">
            <div class="kd-cta-content-wrapper">
                <div class="kd-cta-image">
                    <img loading="lazy" src="{{ site.baseurl }}/assets/Avatar-Ninja-big.svg"
                        alt="Telerik TestStudio Ninja image">
                </div>
                <div class="kd-cta-title-desc">
                    <h5 class="kd-title kd-cta-title mt-0">New to Telerik Test Studio?</h5>
                    <div class="kd-cta-desc">
                        <p class="text-small m-0">
                            <a href="{{ product_url }}" class="kd-link text-bold">Test Studio</a> is a UI test automation platform that helps QA and Engineering teams build stable and easily maintainable automated tests. Sign up for a free 30-day trial!
                        </p>
                    </div>
                </div>
            </div>
            <div class="kd-cta-button-wrapper">
                <a href="{{ trial_url }}"
                    class="kd-button kd-button-primary kd-button-md">Download Free Trial</a>
            </div>
        </div>
    </div>
</section>
