{% assign randomNumber = "now" | date: "%N" %}
<!DOCTYPE html>
<html class="no-js">
   {% include _head.html %}

<body role="document" class="layout-{{ page.layout }} brand">
  {% if page.announcement %}{% include announcement.html %}{% endif %}
  {% include nav.html %}
  {% include _variables.html %}
<div id="content">
  {{ content }}
  <div id="push" class="pt-60 pb-40"></div> <!-- Sticky Footer -->
</div>

{% if page.is_search_page != true %}
<script src="{{site.baseurl}}/assets/jquery.js?{{randomNumber}}" defer></script>
<script src="{{site.baseurl}}/assets/bootstrap.min.js?{{randomNumber}}" defer></script>
{% if site.enable_dojo == true or page.sdk_example == true %} <script src="https://kendo.cdn.telerik.com/{{ site.cdnVersion | default: '2018.3.1017' }}/js/kendo.web.min.js" defer></script> {% endif %}
<script src="{{site.baseurl}}/assets/main.js?{{randomNumber}}" defer></script>
{% endif %}
{% if page.is_api %} <script src="{{site.baseurl}}/assets/api.js?{{randomNumber}}" defer></script> {% endif %}
{% if site.enable_dojo == true %} <script src="{{site.baseurl}}/assets/dojo.js?{{randomNumber}}" defer></script> {% endif %}
{% if page.kind == "api" %} <script src="{{site.baseurl}}/assets/api-toc.js?{{randomNumber}}" defer></script>{% endif %}
{% if page.sdk_example == true %}<script src="{{site.baseurl}}/assets/sdk-browser.js?{{randomNumber}}" defer></script>{% endif %}
{% if page.announcement %}<script src="{{site.baseurl}}/assets/announcement.js?{{randomNumber}}" defer></script>{% endif %}
  {% include footer.html %}
  <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-language="en" type="text/javascript" charset="UTF-8" {% if site.progress_hosting == true %} data-domain-script="f9397248-1dbe-47fc-9dbf-c50e7dd51096" {% else %} data-domain-script="3dfce4f2-dab6-4128-9f33-df7e0597da82" {%endif%} async></script>
  {% include _gtm.html %}
</body>
{% if site.progress_hosting == true %}
<script>
    var _kiq = _kiq || [];
    (function(){
    setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
    s.async = true; s.src = 'https://cl.qualaroo.com/ki.js/24100/gxQ.js'; f.parentNode.insertBefore(s, f);
    }, 1);
    })();
</script>
{% endif %}
</html>
